footer {
  background-color: $primary;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  color: $secondary;
  width: 100%;
  margin-top: -34px;
  height: 34px;

  a {
    color: $aref_color;
  }

  ul {
    list-style: none;
    display: flex;
  }
}
