nav {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  height: 36px;

  a {
    color: $aref_color;
  }

  .logo-container {
    span {
      font-size: 1.5em;
    }
  }

  .flags-container {
    ul {
      list-style: none;
      display: flex;

      img {
        cursor: pointer;
        height: 15px;
        width: 40px;
      }
    }
  }
}
